/target/
*/target/*
*/target/**

/target_qa/
*/target_qa/*
*/target_qa/**

/target_dev/
*/target_dev/*
*/target_dev/**

/target_alpha/
*/target_alpha/*
*/target_alpha/**

/target_beta/
*/target_beta/*
*/target_beta/**

/target_live/
*/target_live/*
*/target_live/**

/target_staging/
*/target_staging/*
*/target_staging/**

*.externalToolBuilders/*


/*.class
.project
.classpath
.settings/*

/log/
*/logs/*
*/logs/**